api-server-soap-module/src/main/resources/soap-schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://net.nh/api-soap-server"
           targetNamespace="http://net.nh/api-soap-server"
           elementFormDefault="qualified">

    <!-- ============================================= Request Elements ============================================ -->
    <xs:element name="getCountryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ============================================= Response Elements =========================================== -->
    <xs:element name="getCountryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="tns:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="country">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="population" type="xs:long"/>
            <xs:element name="capital" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>